/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run singleron-RD/scsnp -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test local profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Test data are small. Args have to be modified to detect variant.
    genes        = 'NPM1'
    freebayes_args = '--use-best-n-alleles 2 --limit-coverage 100 --min-alternate-fraction 0.4 --min-alternate-count 1 --prob-contamination 0.05 --standard-filters'
    bcftools_filter_args = '-e "QUAL<5" -Oz'
}
