/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run singleron-RD/scsnp -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input        = 'https://raw.githubusercontent.com/singleron-RD/scsnp_test_data/master/NPM1/samplesheet.csv'

    // Genome references
    fasta        = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.MT/human.GRCh38.99.MT.fasta'
    gtf          = 'https://raw.githubusercontent.com/singleron-RD/test_genome/master/human.GRCh38.99.MT/human.GRCh38.99.MT.gtf'
    genome_name  = 'human.ensembl.99.MT'
    keep_attributes = 'gene_biotype=protein_coding,Mt_tRNA'
    genes        = 'MT-TF,MT-RNR2,MT-TI,MT-ND2'
    freebayes_args = '--use-best-n-alleles 2 --limit-coverage 100 --min-alternate-fraction 0.4 --min-alternate-count 1 --prob-contamination 0.05 --standard-filters'
    bcftools_filter_args = '-e "QUAL<5" -Oz'
}
